<div class="content">
    <div class="left">
        <img id="enc-img" src="/assets/img/CDMX.png" alt="Enc">
        <h1>BIENVENIDO</h1>
        <hr>
        <p><strong>Sistema de Atención Ciudadana</strong></p>
        <p>Alumbrado Público</p>
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <mat-form-field class="example-full-width inp">
                <input type="text" matInput placeholder="Ingrese el usuario" formControlName="user">
              </mat-form-field>
              <mat-form-field class="example-full-width inp">
                <input type="password" matInput placeholder="Ingrese la contraseña" formControlName="password">
              </mat-form-field>
              <button mat-raised-button class="btn" color="primary" type="submit">Ingresar</button>
        </form>
    </div>
    <div class="im">
        <img id="log-img" src="/assets/img/login.jpg" alt="Login">
    </div>
</div>
<div class="foot">
    <footer>&copy; Área de Desarrollo y Control de Sistemas de la Información 2023</footer>
</div>

