<img id="enc-img" src="/src/assets/img/CDMX.png" alt="Enc">
<div class="left">
    <h1>BIENVENIDO</h1>
    <p id="1"><strong>Sistema de Atención Ciudadana</strong></p>
    <p>Alumbrado Público</p>
    <form action="">
        <label for="user" name="user">Usuario</label>
        <input type="text" name="user">
        <label for="user" name="user">Contraseña</label>
        <input type="text" name="user">
    </form>
    <footer>Área de Desarrollo Informático 2023</footer>
</div>
<div class="right">
    <img id="log-img" src="/src/assets/img/CDMX-Login.gif" alt="Login">
</div>
