<div class="ref-table">
    <header class="enc">
        <img id="enc-img" src="/assets/img/CDMX.png" alt="Enc">
        <h1>Área</h1>
        <div class="avatar">
            <img src="/assets/img/avatar.png" alt="avatar">
            <a href="">usuario@correo.com</a>
        </div>
        <div class="avatar">
            <a href="Holis"><img src="/assets/img/exit.png" alt="exit"></a>
            <a><strong>Cerrar sesion</strong></a>
        </div>
    </header>
    <body>
        <div class="search">
            <div class="content">
                <h1>BANDEJA DE DOCUMENTOS</h1>
                <p></p>
                <label for="searchfor" name="searchfor">Consultar por:</label>
                <select name="searchfor" id="searchfor">
                    <option value="date">Fecha</option>
                    <option value="suac">Num. SUAC</option>
                </select>
                <input id="searcher">
                <p></p>
                <ul>
                    <li><a class="pend" href="#home">Pendientes</a></li>
                    <li><a href="#asig">Asignados</a></li>
                    <li><a href="#ven">Vencidos</a></li>
                    <li><a href="#ate">Atendidos</a></li>
                    <li><a href="#fin">Finalizados</a></li>
                  </ul>
            </div> 
            <table style="width:100%">
                <tr>
                  <th>No. SUAC</th>
                  <th>Alta DAP</th>
                  <th>Falla</th>
                  <th>Vialidad</th>
                  <th>Alcaldia</th>
                  <th>Descripcion</th>
                  <th>Asignado a</th>
                  <th>Opciones</th>
                </tr>
                <tr>
                  <td>.</td>
                  <td>.</td>
                  <td>.</td>
                  <td>.</td>
                  <td>.</td>
                  <td>.</td>
                  <td>.</td>
                  <td>.</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
              </table>                     
        </div>
    </body>
</div>